<div class="bodyApp">
  <h1 class="header">AtomBoard</h1>
  <div style="grid-column: span 4;">
    <canvas baseChart width="400" height="400"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [type]="'line'">
    </canvas>
  </div>

  <div style="grid-column: span 4;">
    <canvas baseChart width="400" height="400"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [type]="'doughnut'">
    </canvas>
  </div>

  <div style="grid-column: span 4;">
    <canvas baseChart width="400" height="400"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [type]="'bar'">
    </canvas>
  </div>

  <app-line-chart></app-line-chart>
<div>